<header class="flex flex-row justify-between items-center border-b border-sky-300 min-h-8 bg-sky-200 p-3 rounded-b-xs drop-shadow-sm">
    <div>
        <h2 class="text-xl">ERP-System</h2>
    </div>
    <div class="flex flex-row-reverse pr-2 items-center gap-5">
        
        <p-button icon="pi pi-user" severity="info" [rounded]="true" size="large" [raised]="true"/>

        <p-button (click)="authService.logout()" icon="pi pi-sign-out" severity="info" [rounded]="true" [outlined]="true" size="large" [raised]="true"/>

        <p-button (click)="appState.toggleClientConfig()" icon="pi pi-cog" severity="info" [rounded]="true" [outlined]="true" size="large" [raised]="true"/>

    </div>
</header>

@if (appState.showClientConfig()) {
    <p-dialog header="Client Einstellungen" [modal]="true" [resizable]="true" [maximizable]="true" [(visible)]="appState.showClientConfig" [style]="{ minWidth: '48rem' }">
        <app-client-config></app-client-config>
    </p-dialog>
}
